<div class="wrapper">
    <div class="body">
        <div class="picture">
            <img [src]="img" alt="">
        </div>
        <div class="user-data">
            <div class="user-data-item">
                <h2>{{name}}</h2>
                <div class="edit-body">
                    <input type="text" placeholder="Write new name" #writeName>
                    <button class="network"(click)="!writeName.value ||replaceName(writeName.value)">Edit</button>
                </div>
            </div>
            <div class="user-data-item">
                <div class="status-text">{{status}}</div>
                <div class="edit-body">
                    <input type="text" placeholder="Write new status" #writeStatus>
                    <button class="network" (click)="!writeStatus.value || replaceStatus(writeStatus.value)">Edit</button>
                </div>
            </div>
        </div>
    </div>
<div class="group">
    <p><b>Group Name:</b><span>{{developerRatingService.group}}</span></p>
</div>
</div>
